<body >

  <div>
      
  <div class="clock-in">
    {{ time | date: 'hh:mm:ss a' }}
  </div>
  
<img class="image-main" src="https://firebasestorage.googleapis.com/v0/b/shopping-8bf64.appspot.com/o/other%2Fwlc.jpg?alt=media&token=0d3ed119-6e25-4b7c-a4bc-ce3f9e0f315f" alt="As Shopping" >
<button class="btn btn-danger btn-lg "   routerLink="/welcome"> 
  ➤   Start Shopping
 </button>

</div>
</body>


<footer class="footer footer-expand-lg navbar-light bg-light" style="margin-bottom:-15px;">
  <div>
    <div class="container">
      <div class="row">
        <div class="col-sm ">
  
          <img class="image-logo" src="https://firebasestorage.googleapis.com/v0/b/shopping-8bf64.appspot.com/o/other%2Femail.png?alt=media&token=d6e5e66f-8b34-44c6-83e6-ec446090304d" alt="Email" >
      
         AnasAbabneh1@gmail.com
        </div>
        
        <div class="col-sm">
          
          <img  class="image-logo" src="https://firebasestorage.googleapis.com/v0/b/shopping-8bf64.appspot.com/o/other%2Fphone.png?alt=media&token=4c922733-e426-47d5-967b-73770fe1f84d" alt="phone" >
       
         +96278 6776 207        </div>
        <div class="col-sm">
          
          <a href="https://www.linkedin.com/in/anas-ababneh/">
         
          <img  class="image-logo" src="https://firebasestorage.googleapis.com/v0/b/shopping-8bf64.appspot.com/o/other%2Flin.png?alt=media&token=732fb9bb-8192-47a0-8638-bb3a351002c9" alt="linkedin" >
    
          linkedin </a> </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 bs-linebreak">
      </div>
    </div>


  </div>
  <div class="footer-copyright text-center py-3">© 2020 Copyright : Anas Ababneh
  </div>
</footer>
