<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
    <img class="logo" src="https://firebasestorage.googleapis.com/v0/b/shopping-8bf64.appspot.com/o/other%2Flogo.jpg?alt=media&token=9b068835-296a-4255-82f7-9d5bdf5f6b79" alt="">
    </a>
    <button (click)="toggleNavbar()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [class.show]="isOpen" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/welcome" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Devices
            <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" *ngIf="isUser">
          <a class="nav-link" routerLink="/cart" routerLinkActive="active">Cart</a>
        </li>
        <li class="nav-item" *ngIf="isUser && isAdmin">
          <a class="nav-link" routerLink="/admin" routerLinkActive="active">Dashboard</a>
        </li>
        <li class="nav-item" *ngIf="!isUser">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item" *ngIf="!isUser">
          <a class="nav-link" routerLink="/signup" routerLinkActive="active">Sign up</a>
        </li>


 
        
      </ul>
    </div>
  </div>

  

  <form class="form-inline nav-item" *ngIf="isUser" >
     <button class="btn btn-outline-danger mr-2"  (click)="logout(); myDrop.close();">Logout</button>

  </form>

</nav>
